AI Job Scraper with Resume Tailoring and PDF Storage (1).json
{
  "name": "AI Job Scraper with Resume Tailoring and PDF Storage",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Job Scraper & Resume Optimizer",
        "formDescription": "Enter job keywords/description and your resume text",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Keywords or Description",
              "fieldType": "textarea",
              "placeholder": "Enter job keywords or job description",
              "requiredField": true
            },
            {
              "fieldLabel": "Resume Text",
              "fieldType": "textarea",
              "placeholder": "Paste your base resume text here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "e4cd8ac2-4917-40c7-b545-d0cb9525b0d8",
      "name": "Resume + JD Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        992,
        -16
      ],
      "webhookId": "414f9981-f8a4-4c87-bef3-99b7d9b66d73"
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { runId: $json['data']['id'], datasetId: $json['data']['defaultDatasetId'] } }];"
      },
      "id": "0f607517-ed32-49d3-ba3f-8648f899c211",
      "name": "Extract Run/Dataset IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1008,
        192
      ]
    },
    {
      "parameters": {},
      "id": "d29796b1-5480-49b2-8278-e373bae6ce77",
      "name": "Wait For Scraping",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1184,
        320
      ],
      "webhookId": "0e2b4211-c82a-47bd-993a-5dd4b3df1f3c"
    },
    {
      "parameters": {
        "url": "={{`https://api.apify.com/v2/datasets/${$json[\"datasetId\"]}/items?token=YOUR_API_TOKEN`}}",
        "options": {}
      },
      "id": "57a22f70-4d5f-4700-9b51-9d2fb794030a",
      "name": "Fetch Scraped Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1312,
        64
      ]
    },
    {
      "parameters": {
        "functionCode": "// Ensure max 5 jobs and add Resume Text to each job\nconst resume = $items('form_trigger_node')[0].json['Resume Text'];\nreturn items.slice(0,5).map(job => {\n  job.json['Resume Text'] = resume;\n  return job;\n});"
      },
      "id": "1ab80436-ad3d-4bc5-8ae4-a940c829b382",
      "name": "Prepare Jobs for Resume AI",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1472,
        368
      ]
    },
    {
      "parameters": {
        "modelId": {
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert ATS-optimized LaTeX resume generator.\nAnalyze Job Description: {{$json['jobDescription'] || $json['description'] || ''}}\nAnd base Resume Text: {{$json['Resume Text']}}\nOutput raw LaTeX (one page, concise, etc.) as required."
            }
          ]
        },
        "options": {}
      },
      "id": "f0cedace-3115-4dce-9c08-b543dbbcd71d",
      "name": "Generate Tailored LaTeX Resume",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1632,
        368
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "GFgT5HRiYFcVj2oP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://latex.ytotech.com/builds/sync",
        "options": {}
      },
      "id": "44ecfa57-3275-41c2-b51e-e7bc15db6344",
      "name": "Compile LaTeX to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1920,
        368
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "name": "resume.pdf",
        "options": {}
      },
      "id": "5b43b749-eb6c-4bc7-9bd3-23d4778c81b5",
      "name": "Upload PDF to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        2064,
        96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "b9Z3xgb73MVNBpto",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "15LFAsMacQg37hJmwJi_JTsys0eY3Q3zJ1YjMpRmFHkU/edit?gid=0#gid=0",
        "range": "Sheet1!A:C",
        "options": {}
      },
      "id": "1cab1820-1b02-4b64-b343-ca0e382cd882",
      "name": "Log job + resume link",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2240,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMH7LA7MLL3D7Lhx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Resume + JD Form": {
      "main": [
        [
          {
            "node": "Extract Run/Dataset IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run/Dataset IDs": {
      "main": [
        [
          {
            "node": "Wait For Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Scraping": {
      "main": [
        [
          {
            "node": "Fetch Scraped Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scraped Jobs": {
      "main": [
        [
          {
            "node": "Prepare Jobs for Resume AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Jobs for Resume AI": {
      "main": [
        [
          {
            "node": "Generate Tailored LaTeX Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tailored LaTeX Resume": {
      "main": [
        [
          {
            "node": "Compile LaTeX to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile LaTeX to PDF": {
      "main": [
        [
          {
            "node": "Upload PDF to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Google Drive": {
      "main": [
        [
          {
            "node": "Log job + resume link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fbae6852-9844-42c1-9c38-c16dcc674910",
  "meta": {
    "instanceId": "5b8dd92b98f6701b265c33738962e013e53026d8bf47de5ccc028139ce1238e0"
  },
  "id": "4e3wQPX7xQJYrd7l",
  "tags": []
}