Resume Form Only.json
{
  "name": "Resume Form Only",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Resume Optimizer",
        "formDescription": "Enter details to optimize your resume",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter Job Keywords or job description",
              "fieldType": "textarea",
              "placeholder": "Enter Job Keywords OR job description",
              "requiredField": true
            },
            {
              "fieldLabel": "Resume Text",
              "fieldType": "textarea",
              "placeholder": "Paste resume here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "83ae2a59-fc22-4f12-aeb3-4e9378a52c1d",
      "name": "Resume + JD Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        336,
        -32
      ],
      "webhookId": "a9c57d1c-d225-4b17-b3f3-4e2d02d088b9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert ATS-optimized LaTeX resume generator.\n\nYour job is to analyze the provided Job Description (JD) and the candidate’s Resume Text, then rewrite the resume to match the JD as strongly as possible while keeping all information truthful.\n\n⚠️ STRICT RULES — FOLLOW EXACTLY:\n• Output must be raw LaTeX code only\n• Start with \\documentclass and end with \\end{document}\n• Do NOT use backticks, markdown formatting, or commentary\n• Resume must fit on ONE PAGE (very concise)\n• Use powerful bullet points with measurable impact when possible\n• Match relevant keywords, responsibilities, technical skills, methodologies, tools, and achievements from the JD\n• Rephrase weak lines into strong action-driven statements\n• Avoid generic filler text\n• Do NOT mention JD, ATS, optimization, or AI inside the resume\n• Keep LaTeX code short (no extra packages, no long macros)\n• Use clean sections: Name & Contact, Skills, Experience, Projects, Education\n\nINPUTS:\nJob Description: {{ $json['Enter Job Keywords or job description'] }}\nResume Text: {{ $json[\"Resume Text\"] }}\n\nTASK:\nRewrite the resume in a way that maximizes alignment with the Job Description, while remaining truthful to the candidate’s profile. Produce a polished professional resume ideal for ATS screening.\n\nOutput only the LaTeX code, starting with \\documentclass and ending with \\end{document}.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        544,
        -32
      ],
      "id": "e7bcdf8c-2582-4239-ac9d-c539a3a253a4",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "GFgT5HRiYFcVj2oP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://latex.ytotech.com/builds/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  compiler: \"pdflatex\",\n  resources: [\n    {\n      main: true,\n      content: $json.content.parts[0].text\n    }\n  ]\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -32
      ],
      "id": "44df90e5-1c01-47fb-99ad-c46c3b44f600",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Resume + JD Form": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61cd9f0e-4764-447b-bac8-82e3a0ae9887",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b8dd92b98f6701b265c33738962e013e53026d8bf47de5ccc028139ce1238e0"
  },
  "id": "wRLnGhKCHWot1lDh",
  "tags": []
}